/* common share style */
*{
    font-family: serif;
}

.text-primary{
    color: #FD6E0A;
}
/* Header Related style start */
.header{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position:bottom right;

}
/* Header Related style end */
.banner-content{
    max-width: 800px;
}
.banner{
    padding:30px 30px 0px 150px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
 width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight:700;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #474747;
}
.banner-description{
    color: #474747;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: ;
}



.btn-primary{
     border-radius: 5px;
     background:#FD6E0A;
     border-width: 0px;
     border-style: solid;
     font-size:20px;
     font-weight: 700px;
     color: white;
     font-family:serif;
     padding: 15px 35px;

}

/* nav related style */
nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 200px;


}

.nav-title{
color: #181818; 
font-size: 45px;  
font-weight: 800; 


}

nav ul {
    display:flex ;
    align-items:center;

}

nav ul li {
        list-style: none;
        margin-right: 50px;

        
}
nav ul li a{
    text-decoration:none;
    color: #474747;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 120px;
}


.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 100px 0px;
}

.section-title{
    color: #474747;
    text-align: center;
    font-size: 35px;
    font-weight: 700px;


}

.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-size: 20px;
}


.about-info-container{
    display: flex;
    justify-content:space-around;
}

.about-info{
    text-align: center;
}
.info-title{
    font-size: 20px;
}
.info-description{
    font-size: 20px;
    color: #757575;
}

/* skill related style */

#what-i-do-description{
    padding: 30px 150px;
}

.skills-container{
  display: flex;
  gap: 24px; ;

}
.skill{
    background-color:#ffffff;
    border-radius:5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 20px;
    font-family:serif; 
    
}
.skill-title{
    font-size: 25px;
}

.skill-description{
    font-family:serif; 
    color: #757575;
    font-size: 20px;
}

/* Resume section style */

.resume-column-title{
    font-size: 25px;
    font-weight: 700;
    font-family:serif;
    color: #474747;
}

.resume-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 40px;
}

.resume-column-title{
   
}

.resume-item-title{
    font-size: 25px;
    font-family:serif;
    color: #474747;
}

.resume-item-institute{
    font-size: 18px;
    color: #474747;
    font-family:serif;
}

.resume-item-description{
    font-size: 18px;
    color: #474747;
    font-family:serif;
}